bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
node_modules/
*.map
public/javascripts/bundle.js
public/stylesheets/styles.css
